{% extends "layout.html" %}
{% block content %}
{% load static %}
<div class="elementsjum">
    <div class="backflisol">
        <img src="{% static 'rsc/BannerTop.png' %}" heigth="207px" width="480px">


        <img src="{% static 'rsc/logoflisol.png' %}" heigth="300px" width="300px">


        <img src="{% static 'rsc/mouse.png' %}" heigth="100px" width="100px">
        </br>
    </div>
            <div class="jumbotron fields-container" id="jumbo">
                	<h2 class="jumbostuff">
                            <style>
                                h2.jumbostuff {
                                        font-weight: 700;
                                     }
                            </style>
					Registro FLISOL 2016 - Anzoátegui Venezuela
					</h2>

                <p class="">A través de esta web podrá registrarse en el Evento.</p>

            </div>
    <div class="row afterjarea">

        <div class="col-md-4 text-center">
            <div class="col-md-12 afterj">
            	<h2 class="jumbostuff">
				Asistentes
			</h2>

            <p class="">Para registrarte como asistente a un evento, ingresa en esta sección.</p>

            <a href="{% url "asistentes" %}"> <button type="button" class="btn btn-primary btn-lg btn-green">Asistente</button></a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12 afterj">
            	<h2 class="jumbostuff">
				Ponente
			</h2>

            <p class="">Para ingresar como ponente y verificar tu ponencia, ingresa en esta sección</p>

            <a href="{% url "login" %}"><button type="button" class="btn btn-primary btn-lg btn-green">Ponente</button></a>
        </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12 afterj">
            	<h2 class="jumbostuff">
				Administrador
			</h2>

            <p class="">Para administrar el sistema, ingresa aqui.</p>

            <a href="{% url "admin:index" %}"><button type="button" class="btn btn-primary btn-lg btn-green">Administradores</button></a>
        </div>
        </div>
    </div>
</div>
{% endblock %}