<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Registro Flisol">
    <meta name="author" content="Nelson Araujo (Sylux)">

    <title>FLISOL 2016</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    {% load staticfiles %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    


</head>

<body id="page-top" class="index">
<div class="Wrap">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button> 
                    <a class="navbar-brand" href="{% url "home" %}"><img class="img-responsive" src="{% static 'rsc/logoflisol.png' %}" alt="FLISOL 2016" width="110px" heigth="49px"></a>

                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="">	<a class="" href="{% url "home" %}">Inicio</a>

                        </li>
                        <li class="">	<a class="" href="{% url "login" %}">Ponentes</a>

                        </li>
                        <li class="">	<a class="" href="{% url "asistentes" %}">Asistir</a>

                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li> <a class="" href="{% url "logout" %}">Cerrar Sesión</a>

                        </li>
                        {% endif %}
                        <li>	<a class="" href="{% url "admin:index" %}">Admin</a>

                        </li>
                    </ul>
                </div>
            </div>

{% block content %}{% endblock %}




</div>
</div>
</div>
</div>
    <footer class="footer hidden-xs">
      <div class="container-fluid">
        <div class="col-md-4">
        <strong>Hecho por:</strong>&nbsp&nbsp&nbsp<a class="footer-link" href="http://sylux.com.ve"><img src="{% static 'rsc/NaLogoSmall.png' %}" alt="Nelson Araujo" width="50px" heigth="36px">Nelson Araujo.</a>
        </div>
        <div class="col-md-4">
            <a class="footer-link" href="http://syluxstudios.com.ve"><img src="{% static 'rsc/SyluxStudiosLogoSmall.png' %}" alt="Sylux Studios" width="50px" heigth="38px">Sylux Studios.</a>
        </div>
        <div class="col-md-4">
            <a class="footer-link" href="http://www.flisol.info"><img src="{% static 'rsc/logoflisol.png' %}" alt="Flisol" width="75x" heigth="32px">Web Oficial.</a>
        </div>
      </div>
    </footer>


    <footer class="footer hidden-md hidden-lg hidden-sm">
      <div class="container-fluid">
        <div class="col-xs-4 mobile-type">
        <a class="footer-link" href="http://sylux.com.ve"><img src="{% static 'rsc/NaLogoSmall.png' %}" alt="Nelson Araujo" width="60px" heigth="45px"></a>
        </div>
        <div class="col-xs-4 mobile-type">
            <a class="footer-link" href="http://syluxstudios.com.ve"><img src="{% static 'rsc/SyluxStudiosLogoSmall.png' %}" alt="Sylux Studios" width="50px" heigth="38px"></a>
        </div>
        <div class="col-xs-4 mobile-type">
            <a class="footer-link" href="http://www.flisol.info"><img src="{% static 'rsc/logoflisol.png' %}" alt="Sylux Studios" width="75px" heigth="32px"></a>
        </div>
      </div>
    </footer>
</body>
</html>